.DS_Store
Navigation/Android/Navigation/bin
Navigation/Android/Navigation/gen
Navigation/Android/NavigationSample/bin
Navigation/Android/NavigationSample/gen
Medical/Android/MM/bin
Medical/Android/MM/gen