.DS_Store
Lib/StartLibrary/bin
Lib/StartLibrary/gen
Navigation/Navigation/bin
Navigation/Navigation/gen
Navigation/NavigationSample/bin
Navigation/NavigationSample/gen
Medical/MM/bin
Medical/MM/gen
Ancun/AncunYL/bin
Ancun/AncunYL/gen