<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.start.xinkuxue"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <!-- 允许应用程序使用网络进行数据交换 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <!-- 允许应用程序对扩展存储设备（如SD卡）进行写入操作 -->
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    
    <application
        android:allowBackup="true"
        android:name=".BaseContext"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        
        <activity
            android:name=".StartActivity"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".LearnWordsListenLookActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".LearnWordsSwitchActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".LearnWordsSwitchTestActivity"
            android:screenOrientation="landscape"
            android:windowSoftInputMode="stateHidden|adjustPan" />
        <activity
            android:name=".TestWordsPageActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".TestWordsPageDoneActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".StrangeWordsActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".StrangeWordsListenLookActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".StrangeWordsSwitchTestActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".StrangeWordsTestActivity"
            android:screenOrientation="landscape"/>
        <activity
            android:name=".StrangeWordsTestDoneActivity"
            android:screenOrientation="landscape"/>
        
    </application>

</manifest>
