<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ancun.yzb"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="19" />

    <!-- 允许应用程序使用网络进行数据交换 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <!-- 允许程序访问Wi-Fi网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.WRITE_CALL_LOG" />
    <!-- 允许应用程序访问设备网络状态信息 -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <!-- 允许应用程序发送SMS消息 -->
    <uses-permission android:name="android.permission.SEND_SMS" />
    
    <application 
        android:name=".BaseContext"
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@android:style/Theme.NoTitleBar" >
        
        <!-- 友盟统计 -->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="52707c2a56240b904805ff9e" />
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="WebSite" />

        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.NoTitleBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <activity
            android:name=".LoginActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" />
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".ResetPassWordActivity"
            android:screenOrientation="portrait"/>
        <!-- <activity
            android:name=".MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait" /> -->
        <activity
            android:name=".AccountActivity"
    	    android:screenOrientation="portrait" />
        <activity
            android:name=".SettingActivity"
    	    android:screenOrientation="portrait" />
        
    </application>

</manifest>
